* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.layout {
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    margin: 0 auto;
    padding: 40px 15px;
    max-width: 1200px;
    width: 100%;
}

#page {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start;
    padding: 50px 40px;
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.05);
    box-shadow: 0 3px 8px 6px rgba(7,17,27,0.05);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    width: 100% !important;
}

#article-container {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,
h2{
    position: relative;
    margin: 20px 0 14px;
    color: #1f2d3d;
    font-weight: bold;
}

strong {
    font-weight: bolder;
}

a{
    color: #17ba17;
}

#article-container p {
    margin: 0 0 16px;
    line-height: 28px;
}

#article-container ol li,
#article-container ul li {
    margin: 14px 0;
}
footer{
    position: static;
}