:root {
    --color-header-background: #f9f9f9;
    --color-footer-background: #979797;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--color-header-background);
}

.logo {
    margin-top: 23vh;
    margin-bottom: 5vh;
}

h1 {
    font-size: 48px;
    color: #404040;
}

h2 {
    font-size: 24px;
    color: #707070;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 0 auto;
}

main section {
    display: flex;
    flex-direction: row;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.group-icon {
    width: 400px;
    height: 200px;
}

.group-icon svg {
    width: 100%;
    height: 100%;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 16px;
    line-height: 1.5em;
}

#commerce h3,
#experiment h3 {
    text-align: right;
}

.reverse {
    flex-direction: row-reverse;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    background-color: var(--color-footer-background);
    font-size: 14px;
    color: white;
}

footer div {
    margin: 10px auto;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .logo{
        margin-top: 24vh;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 16px;
    }
    main{
        width: 90vw;
    }
    main section{
        margin: 20px 0;
    }
    .group-icon{
        width: 600px;
    }
    h3{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
    footer{
        height: 15vh;
        font-size: 12px;
    }
}
@media screen and (max-width:450px){
    h3{
        font-size: 16px;
    }
    p{
        font-size: 10px;
    }
}